<%= javascript_include_tag "jquery.gkitchen.js" %>
<script type="text/javascript">
$(document).ready(function(){
	$('#gkitchenHome').gkitchen();
});
</script>
<div id="gkitchenHome">
	<h1>Kitchen</h1>
	<div id="tabs">
			<ul>
				<li><a href="/gkitchen/gingredients/index">Gingredients</a></li>
				<li><a href="/content1.html">Second</a></li>
				<li><a href="/content1.html">Third</a></li>
			</ul>		
	</div>
</div>