<!-- Begin masterTray Template -->
<script id="masterTrayHeaderTemplate" type="text/x-jsrender">
	<div class="mtitle"><b>{{>title}}</b></div>
</script>
<script id="masterTrayRowTemplate" type="text/x-jsrender">
	<div class="trayRow" idval="{{>id}}"><b>{{>label}}</b></div>
</script>
<!-- End masterTray Template -->
<div id="gkitchenHome">
	<h1>Kitchen</h1>
	<div id="deploySpace"></div>
</div>