body {
	background-image: url(lemon_bonsai_img/bodyBack.gif);
	background-repeat: repeat-x;
	background-color: #FFCD03;
}

#padFrame{
	width:813px;
	margin-top:24px;
	margin-bottom:100px;
	margin-left:36px;
	padding: 10px;
	background-color:#99CC66;
	border: 5px solid #336666;
	-moz-border-radius: 11px;
}

#padFrame .padComponent{
	padding: 5px;
	border: 4px solid #666633;
	background-color: #CCFF00;
	margin-left: 10px;
	margin-bottom:10px;
	-moz-border-radius: 11px;
}

#housesSelectorContainer{
	width: 175px;
	height: 512px;
}

#mainButtonsContainer{
	width: 572px;
	height: 64px;
	background-image: url(lemon_bonsai_img/brandBg.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#stageContainer{
	width: 572px;
	height: 412px;
}
