<div id="lselect">
	<h3><span>Menu:</span></h3>
	<ul>
		<li><%= link_to "Gingredients","#/gingredients",html_options={:class=>"steerpoint"} %></li>
		<li><%= link_to "Gnoodlerecipes","#/gnoodlerecipes",html_options={:class=>"steerpoint"} %></li>
		<li><%= link_to "Logout","/gkitchen/logout",html_options={:confirm=>'Are you sure?'} %></li>
	</ul>
</div>