<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8"/>
	<title>Rent A House Display Pad</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
<div id="padFrame">
	<div id="housesSelectorContainer" class="padComponent">houses</div>
	<div id="mainButtonsContainer" class="padComponent"></div>
	<div id="stageContainer" class="padComponent">
		<%= yield %>
	</div>
</div>
</body>
</html>
