<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8"/>
	<title>Rent A House Display Pad</title>
	<%= stylesheet_link_tag "lemon_bonsai"%>
<%= javascript_include_tag "html5.js","jquery-1.6.1.min.js","jquery.masonry.min.js","lemon_bonsai_js/producer.js"%>

</head>
<body>
<div id="padFrame">
	<div id="housesSelectorContainer" class="padComponent">houses</div>
	<div id="mainButtonsContainer" class="padComponent"></div>
	<div id="stageContainer" class="padComponent">
		<%= yield %>
	</div>
</div>
</body>
</html>